#wholesaleClothing {
	padding-top: 100px;
	height: 100vh;
	position: relative;
}
.wholesaleClothing {
	display: flex;
	align-items: start;
	justify-content: space-between;
	padding: 50px 0;
}
.wholesaaleClonthingTextInImages {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.wholesaleClothingText {
	max-width: 600px;
	margin-top: 5pc;
}
.wholesaleClothingText h4 {
	font-size: 2.5rem;
	margin-bottom: 20px;
}
.wholesaleClothingText span {
	color: #ff5555;
}
.wholesaleClothingText p {
	font-size: 1.25rem;
	margin-bottom: 30px;
}
.whowholesaleClothingBlock {
	display: flex;
	padding-left: 1pc;
	border-left: 2px solid #ff5555;
	width: 400px;
	align-items: end;
	justify-content: space-between;
}
.whowholesaleClothingBlockTexts {
	margin-right: 20px;
}
.whowholesaleClothingBlockTexts h4 {
	font-size: 1.25rem;
	margin-bottom: 10px;
}
.whoImagesPis {
	position: fixed;
	right: 1pc;
	bottom: 1pc;
}
.wholesaleClothingImages {
	display: flex;
	align-items: center;
	position: relative;
	gap: 10px;
	flex-direction: column;
}
.wholesaleClothingImages div {
	position: relative;
	margin-right: 20px;
	display: flex;
	align-items: center;
	gap: 20px;
	cursor: pointer;
}
.wholesaleClothingImages div svg {
	padding: 10px;
	background: #232322;
	color: white;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.wholesaleClothingImages h4 {
	position: absolute;
	bottom: 1px;
	left: 0;
	margin-left: -1pc;
	transform: translateX(-100%);
	white-space: nowrap;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	display: none;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
}
.wholesaleClothingImages div:hover h4 {
	display: block;
}
.background-image {
	background: url('../../assets/note.png') no-repeat;
	background-size: 100%;
	width: 1400px;
	height: 700px;
	overflow: hidden;
}
button {
	background-color: #ff5555;
	color: #fff;
	border: none;
	width: 180px;
	height: 37px;
	font-size: 17px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
}
button:hover {
	background-color: #e04b4b;
}

@media (max-width: 885px) {
	.wholesaleClothingText h4 {
		font-size: 2.2rem;
	}
	.wholesaleClothingText p {
		font-size: 1.1rem;
	}
	.whowholesaleClothingBlockTexts h4 {
		font-size: 1.25rem;
	}
	.whowholesaleClothingBlock {
		width: 300px;
	}
}
